{% extends 'base.html' %}

{% block content %}

<center>
<div class="container-fluid">
    <h1> SEARCH PAGE</h1>
     <hr>
    <br/><br/><br/>


    <div class="card text-center">
        <div class="card-header">
            <b>Search Products</b>
        </div>
        <div class="card-body">
            <form method="POST" action="{% url 'search' %}">
                {% csrf_token %}
                <div class="bm-3">
                    <label for="exampleFormControlInput" class="form-label">
                        <input type="text" class="form-control" placeholder="search for products" width="20" name="search">
                    </label>
                </div>
                <button type="submit" class="btn btn-primary">Search</button>
            </form>
        </div>
    </div>
    <hr>
    <br/><br/><br/>



    <div class="row">
        {% for product in results %}
        <div class="col-md-3"></div>
        <div class="col-md-3">
            <div class="card" style="width: 18rem;">
              <img src="{{product.image.url}}" class="card-img-top" alt="...">
              <div class="card-body">
                <h5 class="card-title">{{product.artist_name}} | {{product.category}}</h5>
                <h6><b>{{product.price}}</b></h6>
                <a href="{% url 'details' product.id %}" class="btn btn-outline-success">Details</a>
              </div>
            </div>
        </div>
        {% endfor %}
        <div class="col-md-3"></div>
    </div>




</div>
    </center>

{% endblock %}
