{% extends 'base.html' %}

{% block content %}

<center>

<div class="container-fluid">
    <h1> CART SUMMARY PAGE</h1>
     <hr>
    <br/><br/><br/>
{% if cart_products %}
    <div class="containter">
                <div class="row">

                    {% for product in cart_products %}
                    <div class="col-md-6">
                        <div class="card mb-6" style="max-width: 800px; ">
                          <div class="row g-0">
                            <div class="col-md-4">
                              <img src="{{product.image.url}}" class="img-fluid rounded-start" alt="...">
                            </div>
                            <div class="col-md-8">
                              <div class="card-body">
                                <h5 class="card-title">{{product.artist_name}}</h5>
                                <p class="card-text">Main Publisher: {{product.category}} </p>
                                  <p class="card-text">Main comics: {{product.comics}}</p>
                                  <p class="card-text">Work link: {{product.work_link}}</p>
                                  <p class="card-text">Stock Number: {{product.stock_number}}</p>
                                  <p class="card-text">Price per collection: <b>{{product.price}}</b> </p>
                                     <div class="col-md-8 mt-2">
                                          Quantity:
                                          <div class="col-md-8">
                                              <select class="from-select" id="select{{product.id}}" style="max-width: 12rem;">
                                                  {% for key, value in quantities.items %}
                                                  {% if key == product.id|slugify %}
                                                  <option selected>{{value}}</option>
                                                  {% endif %}
                                                    {% endfor %}
                                                  <option value="1">1</option>
                                                    <option value="2">2</option>
                                                    <option value="3">3</option>
                                                    <option value="4">4</option>
                                                    <option value="5">5</option>
                                              </select>
                                          </div>
                                      </div>
                                        <br/>
                                  <div class="card-footer">
                                      <button type="button" data-index="{{product.id}}" class="btn btn-outline-primary update-cart">Update</button>
                                       <button type="button" data-index="{{product.id}}" class="btn btn-warning delete-product">Delete</button>
                                      <br/>

                                  </div>

                              </div>
                            </div>
                              <br/><br/>

                          </div>
                        </div>
                    </div>

                    {% endfor %}

                </div>
                <br/><br/>

                <a href="{% url 'checkout' %}" class="btn btn-outline-success">
                    <b>CHECKOUT
                    <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor" class="bi bi-cart-check-fill" viewBox="0 0 16 16">
                      <path d="M.5 1a.5.5 0 0 0 0 1h1.11l.401 1.607 1.498 7.985A.5.5 0 0 0 4 12h1a2 2 0 1 0 0 4 2 2 0 0 0 0-4h7a2 2 0 1 0 0 4 2 2 0 0 0 0-4h1a.5.5 0 0 0 .491-.408l1.5-8A.5.5 0 0 0 14.5 3H2.89l-.405-1.621A.5.5 0 0 0 2 1zM6 14a1 1 0 1 1-2 0 1 1 0 0 1 2 0m7 0a1 1 0 1 1-2 0 1 1 0 0 1 2 0m-1.646-7.646-3 3a.5.5 0 0 1-.708 0l-1.5-1.5a.5.5 0 1 1 .708-.708L8 8.293l2.646-2.647a.5.5 0 0 1 .708.708"/>
                    </svg>
                    </b>
                </a>

                <br/><br/>
                <hr>
                <br/>
            <!---------- CART TOTALS ---------->

            <div class="alert alert-info" role="alert">
              <h1><b>  CART TOTAL: {{cart_totals}}     </b></h1>
            </div>
    {% else %}
            <!---------- CART EMPTY ---------->

            <div class="alert alert-danger" role="alert">
             <h1><b>  YOUR CART IS EMPTY !?! (MOTHERFUCKER..)   </b></h1>
            </div>

        {% endif %}

    </div>


</div>
    </center>


<script>
  // Check if add-cart button pressed
  $(document).on("click", ".update-cart", function(e){
    e.preventDefault();
    var productid = $(this).data('index');

    $.ajax({
      type: "POST",
      url: "{% url 'cart_update' %}",
      data: {
        product_id: $(this).data('index'),
        product_qty: $('#select' + productid + ' option:selected').text(),
        csrfmiddlewaretoken: "{{ csrf_token }}",
        action: "post",
      },
      success: function(json){
        // console.log(json);
        // document.getElementById(‘cart_quantity’).textContent = json.qty
        location.reload();
      },
      error: function (xhr, errmsg, err) {},
    });
  });

  // Remove item from cart
  $(document).on("click", ".delete-product", function(e){
    e.preventDefault();
    // var productid = $(this).data(‘index’);

    $.ajax({
      type: "POST",
      url: "{% url 'cart_delete' %}",
      data: {
        product_id: $(this).data('index'),
        csrfmiddlewaretoken: "{{ csrf_token }}",
        action: "post",
      },
      success: function(json){
        // console.log(json);
        // document.getElementById(‘cart_quantity’).textContent = json.qty
        location.reload();
      },
      error: function (xhr, errmsg, err) {},
    });
  });

</script>


{% endblock %}
