<nav class="navbar navbar-expand-lg bg-dark border-bottom border-body" data-bs-theme="dark">
  <div class="container-fluid">
    <a class="navbar-brand" href="#">ATOMIC COMIC ART</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="{% url 'home' %}">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{% url 'about' %}">About</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Pricing</a>
        </li>
          <li class="nav-item">
            <a class="btn btn-outline-light" href="{% url 'search' %}">Search
                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-search" viewBox="0 0 16 16">
                  <path d="M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001q.044.06.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1 1 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0"/>
                </svg>
            </a>
          </li>&nbsp;&nbsp;

        <li class="nav-item">
          <div class="dropdown">
              <button class="btn btn-secondary dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
                Artist by Publisher
              </button>
              <ul class="dropdown-menu">
                <li><a class="dropdown-item" href="{% url 'categories' 'DC' %}">DC Comics</a></li>
                <li><a class="dropdown-item" href="{% url 'categories' 'Image' %}">Image Comics</a></li>
                <li><a class="dropdown-item" href="{% url 'categories' 'Marvel' %}">Marvel Comics</a></li>
              </ul>
            </div>
        </ul>
    </div>

      <div class="collapse navbar-collapse d-lg-flex justify-content-center">
          <ul class="navbar-nav">
                <li><a class="btn btn-outline-light" href="{% url 'cart_summary' %}">Cart
                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-cart3" viewBox="0 0 16 16">
                  <path d="M0 1.5A.5.5 0 0 1 .5 1H2a.5.5 0 0 1 .485.379L2.89 3H14.5a.5.5 0 0 1 .49.598l-1 5a.5.5 0 0 1-.465.401l-9.397.472L4.415 11H13a.5.5 0 0 1 0 1H4a.5.5 0 0 1-.491-.408L2.01 3.607 1.61 2H.5a.5.5 0 0 1-.5-.5M3.102 4l.84 4.479 9.144-.459L13.89 4zM5 12a2 2 0 1 0 0 4 2 2 0 0 0 0-4m7 0a2 2 0 1 0 0 4 2 2 0 0 0 0-4m-7 1a1 1 0 1 1 0 2 1 1 0 0 1 0-2m7 0a1 1 0 1 1 0 2 1 1 0 0 1 0-2"/>
                </svg>
                    <span class="badge bg-dark text-white ms-1 rounded-pill" id="cart_quantity">{{ cart|length }}</span>
                </a></li>

          </ul>
      </div>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;


      <!----- RIGHT SIDE nav items ---->
      <ul class="navbar-nav">

                {% if user.is_authenticated %}
                {% if user.is_superuser %}


                  <li class="nav-item">
                          <div class="dropdown">
                              <button class="btn btn-secondary dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
                                Admin Section
                              </button>
                              <ul class="dropdown-menu">
                                  <li><a class="dropdown-item" href="{% url 'product_entry' %}">Enter Products</a></li>
                                <li><a class="dropdown-item" href="{% url 'shipped' %}">Orders Completed</a></li>
                                <li><a class="dropdown-item" href="{% url 'outstanding' %}">Orders Outstanding</a></li>
                              </ul>
                            </div>
                        </ul>&nbsp;&nbsp;&nbsp;&nbsp;

                {% endif %}
                {% endif %}







          {% if user.is_authenticated %}

          <div class="btn-group">
              <button type="button" class="btn btn-primary dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">
                {{user.first_name}} {{user.last_name}} - Profile
              </button>
              <ul class="dropdown-menu">
                <li><a class="dropdown-item" href="{% url 'update_user' %}">Update user</a></li>
                <li><a class="dropdown-item" href="{% url 'update_password' %}">Update password</a></li>
                <li><a class="dropdown-item" href="{% url 'update_profile' %}">Update profile</a></li>
              </ul>
          </div>&nbsp;&nbsp;


          <li class="nav-item">
            <a class="btn btn-warning" aria-current="page" href="{% url 'logout' %}">Logout</a>
          </li>&nbsp;&nbsp;

          {% else %}

          <li class="nav-item">
            <a class="btn btn-info" aria-current="page" href="{% url 'login' %}">Login</a>
          </li>&nbsp;&nbsp;

          <li class="nav-item">
            <a class="btn btn-success" aria-current="page" href="{% url 'register' %}">Register</a>
          </li>

          {% endif %}


      </ul>

  </div>
</nav>

